.collapsable {
  margin-left: 1vw;
  margin-bottom: 5vh;
  cursor: pointer;
}

#title {
  font-size: large;
  margin-left: 0.3rem;
  margin-bottom: 1vh;
}

#desc {
  color: lightgray;
  font-size: smaller;
  white-space: pre-line;
  word-break: keep-all;
}

.arrow {
  margin-bottom: 0.5vh;
}

.content {
  margin-top: 2vh;
}
