#reset-button {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 2.5%;

  background-color: var(--chzzk-green);

  border: none;
  border-radius: 5px;
  color: var(--color-bg);
  font-weight: 500;
  cursor: pointer;

  margin-bottom: 3vh;
  transition: background-color 0.2s;
}

#reset-button:hover {
  background-color: #00e09e;
}
