.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity linear 0.1s;

  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.modal-content {
  position: absolute;
  display: grid;
  row-gap: 3vh;

  border-radius: 10px;
  align-items: center;

  padding: 5%;

  align-items: center;

  background-color: var(--color-bg);

  width: 60%;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 100;
}

.shortcut-item {
  display: flex;
  justify-content: space-between;
}

.shortcut-key-name {
  font-weight: 500;
}

.shortcut-now-key {
  font-size: x-small;
  color: var(--chzzk-gray);
}

.shortcut-header {
  display: grid;
}

.set-button {
  background-color: var(--chzzk-green);
  color: var(--color-bg);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

  font-size: smaller;
}
