/* #cheese-pip-seek-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  top: 0;
} */

.chzzk-seek-overlay {
  position: absolute;
  height: 30%;
  max-height: 180px;
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 0, 0, 0.6);
  top: 35%;
  transition: opacity 0.2s ease-in-out 0s;
  display: grid;
  place-items: center;
  justify-items: space-evenly;
  opacity: 1;
  padding: 1%;

  border-radius: 10px;
}

.seek-left {
  left: 10%;
}

.seek-right {
  right: 10%;
}