#timer-wrapper {
  display: flex;

  position: absolute;
  margin-top: 2%;
  left: 2%;

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1%;
  border-radius: 10%;

  z-index: 9999999;
}

#red-dot {
  width: 0.3vw;
  height: 0.3vw;
  margin-right: 0.3vw;
  background-color: red;
  border-radius: 50%;
}
