.header {
  display: grid;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 20%;

  margin-top: 3vh;
}

#logo-img {
  margin-top: 3vh;
  height: 13vh;
}

#logo {
  margin-top: 3vh;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

#desc {
  font-size: small;
  margin-top: 1vh;
}
