.option {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 1fr;
  padding: 1vh 2vw;
}

.option-description {
  display: grid;
  place-self: start;
  margin-bottom: 3vh;

  & .title {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 1vh;
  }

  & .desc {
    font-size: smaller;
    color: lightgray;
    white-space: pre-line;
    word-break: keep-all;
  }
}

[type="checkbox"] {
  margin-left: 10vw;

  cursor: pointer;
  appearance: none;
  border: 0.1em solid gray;

  background-color: gray;

  border-radius: 2em;
  aspect-ratio: 1.7/1;
  height: 4vh;
}

[type="checkbox"]:before {
  content: "";
  display: block;
  height: 85%;
  aspect-ratio: 1/1;
  margin: 5%;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

[type="checkbox"]:checked::before {
  transform: translateX(90%);
}

[type="checkbox"]:checked {
  transition: background-color 0.2s;
  background-color: rgba(0, 255, 163, 1);
}

[type="checkbox"]:not(:checked) {
  transition: background-color 0.2s;
  background-color: gray;
}

.number-input {
  width: 90%;
  font-size: small;
  background-color: rgba(0, 0, 0, 0);
  color: white;

  border: none;
  border-bottom: solid lightgray 1px;
  text-align: center;
}

/* Remove selector */

.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
