@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  background-color: #141517;
  color: white;
  display: grid;
  place-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#header {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 1.9rem;
  font-weight: bolder;
}

#vodTitle {
  margin-bottom: 2vh;
  font-size: 1.5rem;
  font-weight: 400;
}

#thumbnail {
  width: 50vw;
}

.available-quality {
  margin-top: 10vh;
  display: grid;
  place-items: center;
}

.item {
  display: grid;
  place-items: center;
  width: 30vw;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3vh;
}

#quality {
  font-size: large;
  width: 70%;
}

button {
  width: 45%;
  padding: 2%;
  background-color: rgba(0, 255, 163, 0.9);
  border: none;
  border-radius: 4vh;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: rgba(0, 255, 163, 1);
  cursor: pointer;
}
