@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  width: 300px;
  height: 500px;
  background-color: hsl(220, 7%, 8%);
  color: white;
  display: grid;
  place-items: center;

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header {
  margin-top: 5vh;
  display: grid;
  place-items: center;
}

#logo_img {
  width: 25%;
}

.options {
  width: 80%;
  margin-top: 8vh;
  display: grid;
}

.item {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 5vh;
}

.item-name {
  display: grid;
  place-self: start;
}

.item-name span:first-child {
  font-size: large;
  font-weight: normal;
}

span.desc {
  margin-top: 1vh;
  color: lightgray;
  font-size: smaller;
  word-break: keep-all;
}

[type="checkbox"] {
  margin-left: 10vw;

  cursor: pointer;
  appearance: none;
  border: 0.1em solid gray;

  background-color: gray;

  border-radius: 2em;
  aspect-ratio: 1.7/1;
  height: 4vh;
}

[type="checkbox"]:before {
  content: "";
  display: block;
  height: 85%;
  aspect-ratio: 1/1;
  margin: 5%;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

[type="checkbox"]:checked::before {
  transform: translateX(90%);
}

[type="checkbox"]:checked {
  transition: background-color 0.2s;
  background-color: rgba(0, 255, 163, 1);
}

[type="checkbox"]:not(:checked) {
  transition: background-color 0.2s;
  background-color: gray;
}
