@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  background-color: #141517;
  color: white;
  display: grid;
  place-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#header {
  margin-top: 4vh;
  font-size: 1.9rem;
  font-weight: bolder;
}

video {
  margin-top: 10vh;
  height: 40vh;
  aspect-ratio: 16/9;
}

.buttons {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 3vh;
}

button {
  width: 15vw;
  aspect-ratio: 6/1;
  margin-top: 2vh;
  padding: 1%;
  background-color: rgba(0, 255, 163, 0.9);
  border: none;
  border-radius: 4vh;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: rgba(0, 255, 163, 1);
  cursor: pointer;
}

#note {
  margin-top: 5vh;
  font-size: 1rem;
}

.segment-overlay {
  position: absolute;
  visibility: hidden;
  display: grid;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 10%;
  font-size: 1rem;
  width: 50vw;
  height: 50vh;
  place-items: center;
  text-align: center;
  color: white;
  transition: all 0.3s;
}

.segment-overlay.header {
  margin-bottom: 10vh;
}

#segmentSec {
  width: 10%;
  text-align: center;
  padding: 2%;
  background: none;
  border: none;
  color: white;
  font-size: large;
  border-bottom: 1px solid white;
}

.segment-overlay button {
  padding: 2%;
}
