.primary-button {
  background-color: var(--chzzk-green);
  color: var(--color-bg);
  border: none;
  border-radius: 10px;
  padding: 3%;

  transition: background-color 0.2s linear;
}

.primary-button:hover {
  background-color: #00e09dc5;
  cursor: pointer;
}
