.modal {
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s linear;

  padding: 3.5%;

  position: absolute;
  backdrop-filter: blur(5px);

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

.modal-content {
  width: 75%;
  height: 40%;
  background-color: var(--color-bg);
  border-radius: 10px;

  display: grid;
  place-items: center;
  text-align: center;
}
