.progress-modal {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  backdrop-filter: blur(2px);
}

.progress-modal-content {
  width: 30%;
  height: 10%;
  display: grid;
  place-items: center;

  padding: 4%;

  border-radius: 10px;

  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
}

.progress-modal-content span {
  font-size: 1.2rem;
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 14%;

  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.progress-bar-inner {
  width: 0%;
  height: 100%;
  background-color: var(--chzzk-green);
  border-radius: 10px;
  transition: width 0.2s linear;
}
