@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --color-bg: hsl(220, 7%, 8%);
  --chzzk-green: #00ffa3;
  --chzzk-gray: #697183;
  --chzzk-light-gray: #a0a0a0;
}

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

#pip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

#pip-main-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.stream-info-container {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  z-index: 10;
  max-width: 70%;
}

.stream-info-container.visible {
  opacity: 1;
}

.streamer-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.broadcast-title {
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewer-count {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.viewer-count svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.video-controls-container {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.video-controls-container.visible {
  opacity: 1;
}

.control-button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  color: white;
  padding: 0;
}

.control-button svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.control-button:hover {
  background: rgba(0, 0, 0, 0.7);
}