.screenshot-preview-draggable {
  position: absolute;
  left: 15%;
  top: 5%;
  cursor: move;
  width: 40%;
  aspect-ratio: 16/9;
  z-index: 15000;
  max-width: 900px;
}

.screenshot-preview {
  position: absolute;
  width: 100%;
  height: auto;
}

.download-button {
  width: 7%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 2%;
  right: 3%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10%;
}

.close-button {
  width: 7%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 2%;
  left: 3%;
  color: white;
  text-align: center;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10%;
}
/* 
.screenshot-cover {
  position: absolute;
  left: 15%;
  top: 5%;
  cursor: move;
  width: 40%;
  aspect-ratio: 16/9;
  z-index: 15000;
} */
