.header {
  margin-bottom: 5%;
}

.buttons {
  width: 30%;
  display: flex;
  gap: 5%;

  & button {
    width: 300%;
  }
}

.input {
  margin-bottom: 5%;

  & input {
    width: 5%;
    text-align: center;
    margin-right: 1%;
    padding: 1%;
    background: none;
    border: none;
    color: white;
    font-size: large;
    border-bottom: 1px solid white;
  }
}

.disabled button {
  background-color: var(--chzzk-gray);
  cursor: not-allowed;
}
